.recipe(data-recipe-id=recipe._id.toString())
  .photo(style='background-image:url(#{recipe.photo});')
    button.red.delete x
  .name= recipe.name
  .category= recipe.category
  .ingredients= rec
    h2 Ingredients:
    ul#ingredients
      each ingredient in recipe.ingredients
        li: a(href='#')= ingredient
  h2 Directions:
  ol
    each direction in recipe.directions
      li= direction
